<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[呲牙]</key>
	<string>001</string>
	<key>[大笑]</key>
	<string>002</string>
	<key>[示爱]</key>
	<string>003</string>
	<key>[晕]</key>
	<string>004</string>
	<key>[流泪]</key>
	<string>005</string>
	<key>[调皮]</key>
	<string>006</string>
	<key>[抓狂]</key>
	<string>007</string>
	<key>[恼]</key>
	<string>008</string>
	<key>[脸红]</key>
	<string>009</string>
	<key>[愤怒]</key>
	<string>010</string>
	<key>[流汗]</key>
	<string>011</string>
	<key>[愉快]</key>
	<string>012</string>
	<key>[打呼]</key>
	<string>013</string>
	<key>[金钱]</key>
	<string>014</string>
	<key>[捂嘴]</key>
	<string>015</string>
	<key>[抽烟]</key>
	<string>016</string>
	<key>[衰]</key>
	<string>017</string>
	<key>[疑惑]</key>
	<string>018</string>
	<key>[惊讶]</key>
	<string>019</string>
	<key>[鄙视]</key>
	<string>020</string>
	<key>[抠鼻]</key>
	<string>021</string>
	<key>[色]</key>
	<string>022</string>
	<key>[鼓掌]</key>
	<string>023</string>
	<key>[皱眉]</key>
	<string>024</string>
	<key>[思考]</key>
	<string>025</string>
	<key>[阴沉]</key>
	<string>026</string>
	<key>[喜悦]</key>
	<string>027</string>
	<key>[积极]</key>
	<string>028</string>
	<key>[纠结]</key>
	<string>029</string>
	<key>[右瞪]</key>
	<string>030</string>
	<key>[左瞪]</key>
	<string>031</string>
	<key>[嘘]</key>
	<string>032</string>
	<key>[委屈]</key>
	<string>033</string>
	<key>[哈欠]</key>
	<string>034</string>
	<key>[砸]</key>
	<string>035</string>
	<key>[疑问]</key>
	<string>036</string>
	<key>[眨眼]</key>
	<string>037</string>
	<key>[羞羞]</key>
	<string>038</string>
	<key>[快哭了]</key>
	<string>039</string>
	<key>[挥手]</key>
	<string>040</string>
	<key>[尴尬]</key>
	<string>041</string>
	<key>[赞]</key>
	<string>042</string>
	<key>[藐视]</key>
	<string>043</string>
	<key>[给心]</key>
	<string>044</string>
	<key>[摇手]</key>
	<string>045</string>
	<key>[ok]</key>
	<string>046</string>
	<key>[勾引]</key>
	<string>047</string>
	<key>[胜利]</key>
	<string>048</string>
	<key>[拳头]</key>
	<string>049</string>
	<key>[挑衅]</key>
	<string>050</string>
	<key>[握手]</key>
	<string>051</string>
	<key>[玫瑰]</key>
	<string>052</string>
	<key>[爱心]</key>
	<string>053</string>
	<key>[心碎]</key>
	<string>054</string>
	<key>[猪]</key>
	<string>055</string>
	<key>[咖啡]</key>
	<string>056</string>
	<key>[晚安]</key>
	<string>057</string>
	<key>[太阳]</key>
	<string>058</string>
	<key>[礼物]</key>
	<string>059</string>
	<key>[蛋糕]</key>
	<string>060</string>
</dict>
</plist>
